[submodule "unicorn"]
	path = unicorn
	url = https://github.com/unicorn-engine/unicorn.git
[submodule "elfio"]
	path = elfio
	url = https://github.com/serge1/ELFIO.git
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone.git
